<!DOCTYPE html>
<html lang="en">
<% include ./partials/header %>

<head>
    <script type="text/javascript">
        //Need to have this function in head for changing time with system time, could not make the momentJS work
        //so end up writing my own function in plain javascript, tested and it works.
        function converttolocal(dateutc){
            let appendUTC = dateutc+" UTC";
            console.log(appendUTC);
            let date = new Date(appendUTC);
            console.log(date);
            let options={
                weekday:"short", year:"numeric", month:"short",
                day:"numeric", hour:"2-digit", minute:"2-digit"
            };
            document.write(date.toLocaleDateString("en-us",options));                                            
        }
    </script>
    <title>CS-Connect</title>
</head>
<style> 
    #defaultimage{
        font-size: 3.5em;
    }
    
    #defaultimagenavbar{
        font-size: 1.5em;

    }
     .card-text{ 
        max-width: 100%; 
    }   
    
</style>
<body>
    <div class="container bg-dark">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:#466995;">
            <a class="navbar-brand mb-0 h1" href="#"><h4>CS-Connect</h4></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./userhome"><h4><i class="fa fa-home" aria-hidden="true"></i></h4><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <form action='/search' method='Get' class="form-inline my-2 my-lg-0">
                            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                            <input class="form-control mr-sm-2" name="searchstring" type="text" placeholder="Search for a post here" aria-label="Search" size="95" required>
                            <button style="margin-right: 30px;" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </li>
                
                    <li class="nav-item dropdown">
                        <h4>
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                            <small style="font-size:16px">
                                <i id="defaultimagenavbar" class="fa fa-user" aria-hidden="true"></i>
                            </small>
                            </a>
                            <div class="dropdown-menu" style="background-color:#466995;" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./signin">Sign In</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="./verify">Sign Up</a>
                            </div>
                        </h4>
                    </li>
                </ul>
            </div>
        </nav>
        <br><br>
        <div class="jumbotron">
            <br>
            <div class="post">
                <% for(const post of results.reverse()){ %>

                <div class="col-12">
                    <div class="card bg-secondary">
                        <div class="card-header">
                            <h5 class="card-title text-dark"><b><%= post.title %></b></h5>
                        </div>
                        <div class="card-body" style="background-color:#dddd">
                            <span class="card-title mb-2 text-primary">
                            <span><small><%= post.author.slice(0,post.author.indexOf('@')) %> posted on
                            <script>
                                converttolocal(<%- JSON.stringify(post.date) %>);
                            </script>
                            </small></span></span>
                            <hr>
                            <div style="height: 100%; overflow: auto;" class="card-text" id="des">
                                <%- post.description %>
                            </div>   
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-primary" onclick="showHideReply('<%= post._id %>')" ><i class="fa fa-reply" aria-hidden="true"></i></button>
                                        </form> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reply" style="display:none;" id="<%= post._id %>">

                            <% for(const comment of post.comments){ %>
                            <div class="col-sm-12">
                                <div class="card" style="margin-bottom: 2px; background-color:#dddd">
                                    <div class="card-body">
                                        <% if(comment.author){ %>
                                        <b class="text-primary"><%= comment.author.slice(0,comment.author.indexOf('@')) %>:</b>
                                        <% } %>
                                        <% if(comment.content){ %>
                                        <%- comment.content %>
                                        <% } %>
                                        
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <br/>
                        </div> 
                    </div>
                </div>
                <hr>
                <% } %>
            </div>
        </div>
    </div>
    
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script>

        //momentJS not working for me, don't know why, this function is useless
        function localtime(utctime){
            let localtime = moment.locale(utctime).format('llll');
            document.write(localtime);
        }

        $("#descriptioninput").keyup(function(e) {
            $(this).height(30);
            $(this).height(this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth")));
        });
        $("#contentinput").keyup(function(e) {
            $(this).height(30);
            $(this).height(this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth")));
        });

        function showHideReply(idname){
            if (document.getElementById(idname).style.display == "none" ) {
            document.getElementById(idname).style.display="";

            } else {
            document.getElementById(idname).style.display="none";
            }  
        }


    </script>
</body>

</html>